<nav class="navbar navbar-expand-lg {% if site.navbar_fixed %}navbar-fixed-top{% endif %} navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
      {% if site.title == "blank" %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | relative_url }}">about</a>
        </li>
        
        {% assign sorted_pages = site.pages | sort: "nav_order" %}
        {% for page in sorted_pages %}
          {% if page.nav %}
            <li class="nav-item">
              <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        
        {% if site.enable_darkmode %}
        <li class="nav-item">
          <button id="theme-toggle" class="nav-link btn btn-link" aria-label="Toggle theme">
            <i class="fas fa-moon"></i>
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
